@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Open Sans");

@import url("https://fonts.googleapis.com/css?family=Chonburi");
.title {
  font-family: Chonburi;
  font-weight: 400;
}

/* {
    font-family: 'Josefin Sans', cursive;
  } */
body {
  margin: 0;
}

.text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: justify;

  line-height: 1rem;
  font-family: Open Sans;
  /* word-spacing: 10px; */
}
.img {
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.img1 {
  object-fit: cover;
  border-radius: 10px;
  margin-left: 40px;
}
.textOverview {
  /* display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden; */
  text-align: justify;
  font-family: "Open Sans";
  word-spacing: 2px;
}
.accordian {
  background-color: rgb(255 255 255 / 68%);
  box-shadow: 0.5;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -4px !important;
  left: 0;
  width: 100%;
}

.root {
  --swiper-theme-color: black !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: -3px !important;
  left: auto;
  --swiper-theme-color: black !important;
}
.root {
  --swiper-theme-color: black !important;
}

:root {
  --swiper-theme-color: black !important;
}
/* .css-m42gyj-MuiButtonBase-root-MuiPickersDay-root {
  width: 56px;
  height: 56px;
}

.css-raiqh1-MuiTypography-root-MuiDayPicker-weekDayLabel {
  width: 66px;
  height: 60px;
} */
.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  background-color: #e0ecfc;
}
